main .carousel .carouselComponent {
    position: relative;
}


main .carousel .carouselComponent .img {
    height: 100%;
    width: 100%;
}

main .carousel .carouselComponent .arrowP {
    position: absolute;
    top: 40%;
    left: 2%;
}

main .carousel .carouselComponent .arrowN {
    position: absolute;
    top: 40%;
    right: 5%;
}

main .carousel .carouselComponent .counter {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 5%;
    color: white;
    font-size: 18px;
    font-weight: 800;   
    width: 40px;
    margin: 0;
}