main div {
    display: flex;
}

main .carousel {
    width: 100%;
    max-height: 400px;
}
main .carousel img {
    border-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
}

.info {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
}

.info .titleLocTag {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info .title {
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    text-align: start;
    margin-bottom: 10px;
}

.info .location {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.info ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.info .tag {
    height: fit-content;
    width: fit-content;
    list-style: none;
    color: white;
    background-color: #FF6060;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 15px;
    margin: 0;
}

.info .hostAndRating {
    width: 50%;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.info .hostAndRating div {
    gap: 20px;
}

.info .hostAndRating p {
    font-weight: 500;
    font-size: 18px;
}

.info .hostAndRating img {
    border-radius: 45%;
    width: 64px;
    height: 64px;
}


.description span:last-of-type {
    display: none;
}

.Equipements ul {
    display: none;
}

.parentDescription {
    margin-top: 30px;
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}